/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    margin: 0;
    padding: 0;
    background-color: #540B51;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 45px;

}

nav {
    display: flex;
    flex-direction: row;
}

header p {
    color: white;
    text-align: center;
}

#orange {
    color: orange;
}

#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#signup button {
    text-transform: uppercase;
}

#email {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

#google {
    height: 50px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
}

#google span {
    text-align: center;
    padding: 13px 0 0 50px;
}

#google img {
    width: 8%;
    position: relative;
    top: 0px;
    background-color: white;
}

#background {
    position: relative;
    width: 100%;
}


@media (max-width: 768px) { 
    #logo {
        width: 20%;
        padding: 10px 0 0 10px;
    }

    #menu {
        display: none;
    }


}